@use '@styles/abstracts' as *;

.login {
  @include flex-center;

  min-height: 100vh;
  background-color: $color-gray-600;

  &__container {
    width: 100%;
    max-width: rem(310);
  }

  &__title {
    margin-bottom: rem(8);
  }
}
