{
  "printWidth": 100,
  "trailingComma": "es5",
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": false,
  "endOfLine": "auto",
  "tabWidth": 2,
  "singleQuote": true,
  "plugins": [
    "prettier-plugin-embed"
  ],
  "embed": {
    "html": {
      "language": "html",
      "tag": "html"
    }
  }
}
