@use '@styles/abstracts' as *;
@use 'sass:color';

.modal {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;

  &__content {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 90%;
    padding: 2rem;
    overflow: auto;
    background: $color-white;
    border-radius: 0.5rem;
    transform: translate(-50%, -40%);
    transition: all 0.3s ease;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: color.change($color-black, $alpha: 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
  }

  &--visible {
    pointer-events: auto;
    opacity: 1;

    .modal__content {
      transform: translate(-50%, -50%);
    }

    .modal__backdrop {
      pointer-events: auto;
      opacity: 1;
    }
  }
}
