@use 'sass:math';

$breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

// media query
@mixin media-query($type, $width) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type == max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// Text truncate
// Requires inline-block or block for proper styling
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Font Face Mixin for modern browsers
@mixin font-face(
  $font-name,
  $font-folder,
  $font-file-name,
  $font-weight: normal,
  $font-style: normal
) {
  @font-face {
    font-family: $font-name;
    font-style: $font-style;
    font-weight: $font-weight;
    src:
      url('#{$font-folder}/#{$font-file-name}.woff2') format('woff2'),
      url('#{$font-folder}/#{$font-file-name}.woff') format('woff'),
      url('#{$font-folder}/#{$font-file-name}.ttf') format('truetype'); // Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */

    font-display: swap;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
