@use '@styles/abstracts' as *;
@use 'sass:color';

$bg-color: color.change($color-system-blue, $alpha: 0.08);

%flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  height: 100%;
  padding-bottom: 100px;

  &__content {
    @extend %flex-center-column;

    height: 100%;
  }

  &__sandglass {
    position: relative;

    &-container {
      @extend %flex-center;

      width: 300px;
      height: 300px;
      background-color: $bg-color;
      border-radius: 9999px;
    }

    &-wrapper {
      @extend %flex-center;

      flex-grow: 1;
    }

    &-sand {
      position: absolute;
      left: 15px;
      width: 56px;
      height: 48px;
      overflow: hidden;
      background-color: transparent;
      clip-path: polygon(
        49.16% 0%,
        67.73% 11.99%,
        88.93% 29.44%,
        95.66% 40.1%,
        100% 52.78%,
        100% 100%,
        0% 99.6%,
        0% 54.86%,
        4.62% 40.75%,
        12.74% 29.23%,
        32.4% 12%
      );

      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-primary-text;
      }

      &--top {
        top: 14px;
        transform: rotate(180deg);

        .timer__sandglass-sand-inner {
          transform: translateY(calc((100% - var(--percentage)) * -1));
        }
      }

      &--bottom {
        bottom: 18px;

        .timer__sandglass-sand-inner {
          transform: translateY(calc(var(--percentage)));
        }
      }
    }

    svg {
      color: $color-primary-text;
    }

    &-drip {
      position: absolute;
      top: 80px;
      left: 50%;
      width: 4px;
      height: 4px;
      background: $color-primary-text;
      border-radius: 50%;
      transform: translateX(-50%);
      animation: drip 0.6s linear infinite;
    }
  }

  &__inputs {
    display: flex;
    gap: rem(24px);
    align-items: center;
  }

  &__input {
    @extend %flex-center-column;

    gap: rem(8px);

    input {
      max-width: 140px;
      height: unset;
      padding: rem(16px);
      font-size: rem(34);
      font-weight: 700;
      line-height: rem(41);
      text-align: center;
      background: $bg-color;
      border: unset;
      border-radius: 24px;
      box-shadow: unset;

      &:not(:disabled) {
        color: $color-primary-text;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: rem(16px);
    margin-top: rem(32px);

    button {
      max-width: 226px;
    }
  }
}
@keyframes drip {
  0% {
    top: 60px;
    opacity: 1;
  }

  100% {
    top: 140px;
    opacity: 0;
  }
}
