@use '@styles/abstracts' as *;

.input {
  position: relative;
  width: 100%;
  height: rem(48);
  padding: rem(12) rem(16);
  font-size: rem(16);
  line-height: rem(24);
  color: $color-label-primary;
  background-color: $color-white;
  border: 1px solid $color-label-quaternary;
  border-radius: 100px;
  box-shadow: 2px 2px 16px 0 rgb(0 0 0 / 6%);
  transition: border-color 0.2s ease;

  &::placeholder {
    color: $color-label-tertiary;
  }

  &:focus {
    outline: none;
  }

  &--error {
    border-color: $color-system-red;
  }

  &--disabled {
    color: $color-label-tertiary;
  }

  &--with-left-icon {
    padding-left: rem(56);
  }

  &--with-right-icon {
    padding-right: rem(56);
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__icon {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(24);
    height: rem(24);
    color: $color-label-tertiary;
    transform: translateY(-50%);

    &--left {
      left: rem(24);
    }

    &--right {
      right: rem(24);
    }
  }

  &__error {
    margin-top: rem(4);
    font-size: rem(12);
    line-height: rem(16);
    color: $color-system-red;
  }
}
